.bg-pngegg {
    width: 100px; height: 174px;
    background: url('../img/css_sprites.png') -15px -1879px;
}
.bg-pngegg__4_ {
    width: 100px; height: 157px;
    background: url('../img/css_sprites.png') -15px -1295px;
}
.bg-pngegg__16_ {
    width: 100px; height: 124px;
    background: url('../img/css_sprites.png') -15px -805px;
}
.bg-pngegg__19_ {
    width: 100px; height: 118px;
    background: url('../img/css_sprites.png') -15px -132px;
}
.bg-pngegg__18_ {
    width: 100px; height: 118px;
    background: url('../img/css_sprites.png') -15px -505px;
}
.bg-pngegg__15_ {
    width: 100px; height: 117px;
    background: url('../img/css_sprites.png') -15px -15px;
}
.bg-pngegg__12_ {
    width: 100px; height: 124px;
    background: url('../img/css_sprites.png') -15px -651px;
}
.bg-pngegg__6_ {
    width: 100px; height: 118px;
    background: url('../img/css_sprites.png') -15px -376px;
}
.bg-pngegg__11_ {
    width: 100px; height: 163px;
    background: url('../img/css_sprites.png') -15px -1482px;
}
.bg-pngegg__13_ {
    width: 100px; height: 174px;
    background: url('../img/css_sprites.png') -15px -1675px;
}
.bg-pngegg__5_ {
    width: 100px; height: 195px;
    background: url('../img/css_sprites.png') -15px -2083px;
}