body{
    background: #38393b url(../img/PngJoy_freddie-mercury-illustration-transparent-png_10199955.png) top right / 60% no-repeat;
    max-width: 1440px;
    margin: 2rem auto;
    color: #000000;
}
.wrapper {
    margin: 0 auto;
    width: 90%;
}
.header-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.header-img {
    width: 20%;
    margin-right: 3rem;
}
.title {
    display: inline-block;
    font-family: 'Langar', cursive;
    font-size: 40px;
    text-shadow: 2px 2px 0 #f23d4c, 2px -2px 0 #f23d4c, -2px 2px 0 #f23d4c, -2px -2px 0 #f23d4c, 2px 0px 0 #f23d4c, 0px 2px 0 #f23d4c, -2px 0px 0 #f23d4c, 0px -2px 0 #f23d4c;
}
.page-info {
    font-family: 'Andika New Basic', sans-serif;
    font-size: 33px;
    font-weight: 700;
    text-align: end;
    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
}
.header-img-p {
    width: 5%;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3rem;
}
.audio-box {
    width: 270px;
    margin-bottom: 2rem;
    padding: 10px;
}
.audio-wrapper{
    cursor: pointer;
    outline: none;
}
.audio-wrapper:active {
    transform: translateY(10px);
}
.audio-input-box{
    margin-top: 1.5rem;
}
.audio-result, .audio-name, .audio-label {
    font-family: 'Andika New Basic', sans-serif;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    text-shadow: 2px 2px 0 #4074b5, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5;
}
.audio-label{
    display: block;
    font-size: 20px;
    position: relative;
    right: -9px;
}
.audio-name {
    font-weight: 700;
    font-size: 22px;
    color: #FFF;
    background-color: rgba(247, 141, 148, 0.5);
    border-radius: 8px;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 130px;
}
.audio-result{
    text-align: center;
    color: #9c0e1a;
    font-size: 22px;
    text-shadow: 2px 2px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, -2px -2px 0 #fff, 2px 0px 0 #fff, 0px 2px 0 #fff, -2px 0px 0 #fff, 0px -2px 0 #fff;
}
.audio-input {
    appearance: none;
}
.audio-input:after {
    width: 25px;
    height: 25px;
    border-radius: 20px;
    top: 4px;
    left: -15px;
    position: absolute;
    background-color: #fff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid #9c0e1a;
    
}
.audio-input:checked:after {
    background-color: #f23d4c;
}
.audio-info{
    display: none;
}
.video-link{
    font-size: 20px;
    color: #000000;
    display: inline-block;
    margin-top: 10px;
    text-align: end;
}
.youtube{
    width: 100px;
    
}



