.bg-pngegg__1_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -10px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

    
}
.bg-pngegg__3_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -158px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__2_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -306px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__4_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -454px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__5_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -602px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__6_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -750px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__8_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -898px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__7_ {
    display: block;
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -1047px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);
}
.bg-pngegg__9_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -1194px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__10_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -1342px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg__11_ {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -1490px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}
.bg-pngegg {
    width: 128px; height: 128px;
    background: url('../img/css_sprites.png') -10px -1638px;
    border-radius: 35px;
    box-shadow: 2px 3px 0px 2px rgba(0,0,0,0.1), 0px 6px 0px 4px rgba(0,0,0,0.1), 0px 9px 0px 6px rgba(0,0,0,0.1), 0px 12px 0px 8px rgba(0,0,0,0.1), 0px 15px 0px 10px rgba(0,0,0,0.1), 0px 7px 0px 12px rgba(0,0,0,0.1), 0px 11px 0px 4px rgba(0,0,0,0.1), 0px 13px 0px 6px rgba(0,0,0,0.1), 0px 11px 0px 10px rgba(0,0,0,0.1), 0px 12px 0px 16px rgba(0,0,0,0.1), 5px 5px 15px 5px rgba(0,0,0,0);

}