.id-generator__btn {
    display: inline-block;
    background:#B7C1DB;
    border-radius: 10px;
    border: 2px solid #A728B1;
    font-family: 'Jura', sans-serif;
    font-size: calc((100vw - 320px)/(1440 - 320) * (16 - 12) + 12px);
    line-height: calc((100vw - 320px)/(1440 - 320) * (20 - 14) + 14px);
    font-weight: 700;
    color: #A728B1;
    text-align: center;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    padding: 10px;
    cursor: pointer;
    outline: none;
    transition: all 0.2s ease;
}
.id-generator__btn:hover {
    background:#F78DFC;
    color: #fff;
}
.id-generator__btn:active {
    font-size: 14px;
    transform: translateY(2px);
}
.id-generator__btn.active {
    font-size: 0;
    border-radius: 25px;
    width: 50px;
    background: #B7C1DB;
}
.id-generator__btn.loader {
    border-right: 2px solid #fff;
    animation: loader 0.4s linear infinite;
}
.id-generator__btn.success {
    background: #3bb873;
    border-color: #266e47;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 2px 25px rgba(38, 110, 71, 0.5);
}
#plus-btn{
    background-image: url(../img/icons8-plus-64.png);
}
#minus-btn{
    background-image: url(../img/icons8-minus-64.png);
}
.bubbly-button {
    display: inline-block;
    appearance: none;
    width: 62px;
    height: 62px;
    color: #fff;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    position: relative;
    transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
    outline: none;
}
.bubbly-button:before,
.bubbly-button:after {
    position: absolute;
    content: "";
    display: block;
    width: 140%;
    height: 120%;
    left: -20%;
    z-index: -1000;
    transition: all ease-in-out 1s;
    background-repeat: no-repeat;
}
.bubbly-button:before {
    display: none;
    top: -85%;
    background-image: radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, transparent 40%, #ff0081 30%, transparent 40%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, transparent 20%, #ff0081 25%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%);
    background-size: 20% 20%, 30% 30%, 25% 25%, 30% 30%, 28% 28%, 20% 20%,
        25% 25%, 20% 20%, 28% 28%;
}
.bubbly-button:after {
    display: none;
    bottom: -85%;
    background-image: radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, transparent 20%, #ff0081 25%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%),
        radial-gradient(circle, #ff0081 30%, transparent 30%);
    background-size: 25% 25%, 30% 30%, 28% 28%, 30% 30%, 25% 25%, 20% 20%,
        30% 30%;
}
.bubbly-button:active {
    transform: scale(0.9);
    box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
.animate:active::before,
.animate:focus::before{
    display: block;
    animation: topBubbles ease-in-out 0.75s forwards;
}
.animate:active::after,
.animate:focus::after  {
    display: block;
    animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes loader {
    0% {
        transform: rotateZ(0);
    }
    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes topBubbles {
    0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
        40% 90%, 55% 90%, 70% 90%;
    }
    50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
        50% 50%, 65% 20%, 90% 30%;
    }
    100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
        50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}

@keyframes bottomBubbles {
    0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
        70% -10%, 70% 0%;
    }
    50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
        105% 0%;
    }
    100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
        110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
    }
}