.page-wrapper {
}
.id-generator__box {
}
.id-generator__btn {
}
.id-generator__result {
}
.font-generator__box {
}
.font-generator__btn-box {
}
.font-generator__btn {
    /* border: none;
    outline: none;
    cursor: pointer;
    background: none; */
}
.font-generator__btn:active{

}
.font-generator__result-box {
    /* font-size: 14px; */
}
.result-box-title {
}
.font-generator__result-text {
}